
html
{  margin: 0px;
  padding: 0px;
  border:0px;
  overflow-x:hidden;
 border-width: 0px;

};

* unvisited link */
a:link {
  color: inherit;
}

/* visited link */
a:visited {
  color:inherit;
}

/* mouse over link */
a:hover {
  color: inherit;
}

/* selected link */
a:active {
  color: inherit;
}

* {
  box-sizing: border-box;
  
  
  }      

