html,body
{
  scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border:0px;
    overflow-x: hidden; 
   
    border-width: 0px;
}

/* Overflow problem 11/07/2020.

Unsure what the problem is here, I've tried removing overflow but, then I couldn't scroll. 

Will come back to this in the morning. 
*/


